@import "../styles.scss";
.top-bar {
	overflow: hidden;
	position: fixed;
	border-radius: 6px;
	margin: auto;
	max-width: calc(100vw - 40px);
	min-height: 80px;
	z-index: 1000;
	transition: .3s ease;
}

.top-bar:hover {
	opacity: 1 !important;
	transition: .3s ease;
}

.fill-remaining-space {
	width: 100vw;
}

h1 {
	padding: 20px 20px;
	transition: .3s ease;
	border-radius: 10px;
	outline: none;
	cursor: default;
}

h3 {
	padding: 30px 10px;
	transition: .3s ease;
	border-radius: 10px;
	min-width: 80px;
    text-align: center;
    outline: none;
}

h1:hover{
	// cursor: pointer;
	// background-color: #009fb6;
	border-radius: 10px;
	transition: .3s ease;
}
h3:hover{
	cursor: pointer;
	background-color: #009fb6;
	border-radius: 10px;
	transition: .3s ease;
}

.limit-width{
	overflow: auto;
}

.area{
    height: 80px;
    width: 100vw;
    margin:10px;
    text-align: center;
  	display: flex;
    vertical-align: middle;
  	align-items: center;
  	position: absolute;
}