@import "../styles.scss";
.top-bar {
	height: 80px !important;
	max-width: 1100px;
	overflow: hidden;
}

.fill-remaining-space {
	width: 100vw;
}

h2 {
	padding-left: 20px;
	margin-left: 20px;
}

h3 {
	padding: 10px 20px;
}
h3:hover{
	cursor: pointer;
}
h1:hover{
	cursor: pointer;
}

.limit-width{
	max-width: 1100px;
	overflow: auto;
}