@import "../styles.scss";
.top-bar {
	height: 80px !important;
	width: 100vw;
	overflow: hidden;
}

.fill-remaining-space {
	width: 100vw;
}

h2 {
	padding-left: 20px;
	margin-left: 20px;
}

h3 {
	padding: 10px 10px;
}
h3:hover{
	cursor: pointer;
}