<div class="container">
	
	<div>
	<div class="image full-width start" parallax [config]="{
			initialValue: 0,
			ratio: .85
		}" id="top-image"><div style="position: relative; top: 200px; left: 400px;"></div></div>
	</div>

	<div class="fade-in">
		<h1> Robotics Engineer </h1> 
		<h1 style="padding-left: 100px;"> Software Developer </h1> 
		<h1 style="padding-left: 200px;"> All-Around Geek </h1> 
	</div>

	<div class="swipe-container full-width">
		<div class="swipe full-width" id="triangle-bottomright"></div>
	</div>

	<div class="color-gradient">


		<div class="first image-frame">
				<table style="margin: auto;">
					<tr>
						<td><img class="logo frosted" src='./../../../assets/images/typescript_logo.png'></td>
						<td><img class="logo frosted" src='./../../../assets/images/javascript_logo.png'></td>
						<td><img class="logo frosted" src='./../../../assets/images/matlab_logo.png'></td>
						<td><img class="logo frosted" src='./../../../assets/images/python_logo.png'></td>
					<tr>
				</table>
		</div>

		<div class="image-frame full-width">
		</div>

<!-- 
		<div class="image full-width" [@scrollAnimation]="state">
			<div class="inner full-width" parallax [config]="{
				initialValue: 100,
				ratio: .26
			}" id="second-image"></div>
		</div> -->

		<div class="image-frame full-width">
			<div class="frosted inner full-width">
				<div class="image full-width" id="third-image">
					<img src='./../../../assets/images/3.jpg'>
					<h1 class="TonyText"> This is Tony </h1>
				</div>
			</div>
		</div>
	</div>
</div>