<div class="container">
	
	<div>
	<div class="inner full-width start" parallax [config]="{
			initialValue: -50,
			ratio: .4
		}" id="top-image"></div>
	</div>

	<div class="fade-gradient">
	</div>


	<div class="inner full-width start" parallax [config]="{
			initialValue: 60,
			ratio: 0
		}" id="beach-image"></div>

	<div class="color-gradient">


		<div class="first full-width">
		</div>

		<div class="first full-width">
			<div class="inner full-width" parallax [config]="{
				initialValue: 400,
				ratio: .26
			}" id="first-image"></div>
		</div>


		<div class="second full-width">
			<div class="inner full-width" parallax [config]="{
				initialValue: 100,
				ratio: .26
			}" id="second-image"></div>
		</div>

		<div class="first full-width">
			<div class="inner full-width" parallax [config]="{
				initialValue: -200,
				ratio: .26
			}" id="third-image"></div>
		</div>
	</div>
</div>