@import "../../../styles.scss";

*[parallax] {
    width: 700px;
    background-size: 100%;
}

#top-image {
    background-image: url('./../../../assets/images/poseoutline3.png');
    height: 50vw;
    width: 110%;
}

#top-image:hover {
    // width: 100%;
}

#pan-image {
    background-image: url('./../../../assets/images/Pan.jpg');
    height: 10vw;
}

#beach-image {
    background-image: url('./../../../assets/images/Beach.jpg');
    height: 45vw;
    width: 100%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#first-image {
    background-image: url('./../../../assets/images/1.jpg');
    height: 40vw;
    width: 100%;
}

#second-image {
    background-image: url('./../../../assets/images/2.jpg');
    height: 40vw;
    width: 100%;
}

#third-image {
    background-image: url('./../../../assets/images/3.jpg');
    height: 40vw;
    width: 100%;
}

.border {
	border: 1px solid black;
	margin: 3px;
    border-radius: 25px;
}

.first {
	// background-color: $primary-light;
	height: 110vh;
	align-content: center;
	position: relative;
    // background-image: linear-gradient($primary, $primary-light);
}

.second {
	// background-color: $primary-dark;
	height: 110vh;
	align-content: center;
	position: relative;
}

.inner {
	display: table;
	margin: 0 auto;
}

.color-gradient {
	background-image: linear-gradient($primary-dark, white);
	position: relative;
}

.fade-gradient {
	background-image: linear-gradient(#000000b3, #0000002b);
}

.full-width {
	width: 100vw;
}

.start {
	top: -200px;
	height: 350px;
}

.container {
	width: 100%;
	overflow: hidden;
}
