/* You can add global styles to this file, and also import other style files */
@import '~fullpage.js/dist/fullpage.min.css';
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}
